$mainRed: #c81812;
$secondaryRed: #be3737;
$mainDark: #0f0f0f;
$secondaryDark: #323232;
$mainLight: rgb(230, 222, 221);


$titleFont: 'Roboto',
sans-serif;

* {
    font-family: 'Montserrat',
    sans-serif !important;
    color: var(--mainLight);
}

body {
  background-color: $mainDark !important;
}

// Navigation
.navigation {
  background-color: $mainDark !important;
  height: 10vh;

  .navbar-brand {
    padding: 0;
    font-size: 3vh;
    max-width: 10vw;
    color: $mainLight;
    
    img {
      height: 7vh;
    }
  }

  .nav-link {
    font-size: 1.4rem !important;
    margin-left: 1vw;
    margin-right: 1vw;
  }

  .navbar-form {
    padding: auto;
    margin-top: auto !important;
    margin-bottom: auto !important;
    display: flex;
    height: fit-content;
    float: left;
  }

  .navbar-input {
    background: transparent !important;
    color: $mainLight;
    border: none;
    border-bottom: .7px solid $mainLight !important;
    padding-left: 0;
    width: 10vw;
    outline: none !important;
    font-size: 1.25rem;
    transition: .9s;
  }

  .input-label {
    margin: auto;
    padding-left: 10px;
    color: $mainLight;
  }

}

.movie-jumbotron {
  margin: 0 !important;
  height: 70vh;
  // filter: grayscale(50%);
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  border-radius: 0 !important;
  display: flex;

  .jumbotron {
    padding: 0 !important;

  }

  .section-title {
    margin: auto;
    text-align: justify;
    font-size: 3.4rem;
    line-height: 3.4rem;
    letter-spacing: 0.3rem;
    font-weight: 900;
    /* font-variant-caps: all-petite-caps; */
    background: linear-gradient(rgb(150, 150, 150), rgba(255, 255, 255, .3));
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .section-overview {
    display: block;
    text-align: justify;
    font-size: 1.2rem;
    color: white;
    background: linear-gradient(rgb(150, 150, 150), rgba(255, 255, 255, .7));
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  // svg {
  //   width: 125px !important;
  //   height: 125px !important;
  //   margin: auto !important;
  //   font-size: 10vh;
  //   padding: 25px !important;
  //   color: $mainLight;
  //   transition: 0.5s;
  //   border: 1.5px solid $mainLight;
  //   border-radius: 100%;

  //   &:hover {
  //     color: rgba(230, 222, 221, 0.5);
  //     border-color: rgba(230, 222, 221, 0.5);
  //   }
  // }
}

// Card
.card {
  border: none !important;
  text-decoration: none !important;
  min-height: 40vh;
  background-position: center !important;
  background-size: cover !important;
  margin-bottom: 25px !important;
  transition: ease-in-out 0.4s !important;
  filter: grayscale(0%) !important;
  display: block;
  
  .card-text {
    position: absolute;
    width: 85%;
    bottom: 0;
    text-align: center;
    color: transparent;
    font-size: 3rem;
    transition: 0.5s;
  }

  &:hover {
    // color: $mainLight;
    filter: grayscale(75%) !important;
    transform: scale(1.1);
    z-index: 5 !important;

    .card-text {
      color: $mainLight !important;
      text-decoration: none !important;
    }
  }
  .card-title {
    font-size: 3vh;
  }
}

.react-multiple-carousel__arrow--right {
  right: 0;
  position: absolute;
  outline: 0;
  transition: .5s !important;
  border-radius: 0px;
  z-index: 2;
  border: 0;
  min-width: 10vw;
  min-height: 100%;
  opacity: 1;
  cursor: pointer;
  background: linear-gradient(to left, rgba(15, 15, 15, 1) 25%, rgba(15, 15, 15, .8) 75%, rgba(15, 15, 15, .0) 100%);

  &:hover,
  &:focus {
    background: linear-gradient(to left, rgba(15, 15, 15, 1) 25%, rgba(15, 15, 15, .8) 50%, rgba(15, 15, 15, .0) 100%);
    outline: none !important;
  }
}

.react-multiple-carousel__arrow--left {
  left: 0;
  position: absolute;
  outline: 0;
  transition: .5s !important;
  border-radius: 0px;
  z-index: 2;
  border: 0;
  min-width: 10vw;
  min-height: 100%;
  opacity: 1;
  cursor: pointer;
  background: linear-gradient(to right, rgba(15, 15, 15, 1) 25%, rgba(15, 15, 15, .8) 75%, rgba(15, 15, 15, .0) 100%);

  &:hover,
  &:focus {
    outline: none !important;
    background: linear-gradient(to right, rgba(15, 15, 15, 1) 25%, rgba(15, 15, 15, .8) 50%, rgba(15, 15, 15, .0) 100%);
  }
}

.text-movie {
  margin-bottom: 10px;
  padding: 0;
  font-size: 2rem;
  font-weight: 600;
  color: $mainLight;
  // text-align: center;
}

.page-break {
  width: 70% !important;
  margin: auto;
  background: $mainLight !important;
}

.video-image {
  min-height: 40vh !important;
  width: 100%;
  background-position: center;
  background-size: cover !important;
  border-radius: 1.5%;
  display: flex;
}

@media (max-width: 1024px) {
  .video-image {
    min-height: 20vh !important;
  }
}

.video-description {
  h1 {
    font-size: 2rem;
    font-weight: 600;
    color: $mainLight;

    p {
      padding: 0;
      margin: 0;
      margin-top: 5px;
      color : rgba(230, 222, 221, 0.5);
      font-weight: 300;
    }
  }

  p {
    font-size: 1rem;
    color: $mainLight;
    text-align: justify;
  }
}

.footer-break {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 75%;
  background-color: $mainLight;
}

.footer {
  width: 100%;
  padding: 25px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  color: $mainLight !important;

  .row {
    margin-top: 2vh;
    padding: 15px;

    h2 {
      font-size: 2vh;
      font-weight: 600;
      text-align: left;
    }

    p {
      padding-bottom: 10px;
      font-size: 1.5vh;
      text-align: justify;
    }

    a {
      font-size: 1.5vh;
      font-weight: 700;
      color: $secondaryDark;
      transition: 0.5s;

      &:hover {
        color: $mainLight;
        text-decoration: none;
      }
    }
  }

  p {
    margin: 0 !important;
    padding-bottom: 2vh;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
  }

  .sosmed {
    width: fit-content !important;
    margin: auto !important;
  }

  img {
    
    margin-left: 40px !important;
    margin-right: 40px !important;
  }
}


.footer-copyright {
  font-weight: 400;
  letter-spacing: .2vh;
  text-align: center;
  color: $mainLight;
}

.form-background {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-position: center;
  background-size: cover !important;
  background-repeat: no-repeat;
  filter: grayscale(25%);
  z-index: 1;
}

.form-section {
  height: 100vh;
  width: 100vw;
  display: flex;

  .login-section-text {
    height: fit-content;
    width: 50%;
    padding: 50px;

    h1 {
      padding: 0;
      margin: 0;
      color: $mainLight;
      font-weight: 700;
      font-size: 5rem;
    }
  }

  .login-form {
    width: 50%;
    padding: 50px;
    background: linear-gradient(to left, rgba(15, 15, 15, .75) 90%, rgba(15, 15, 15, 0));
    display: flex;
    margin-left: auto;
    
    @media(max-width: 1024px) {
      width: 100%;
      background: rgba(15, 15, 15, .75);
    }

    form {
      margin: auto !important;

      p {
        padding: 0;
        margin: 0;
        color: $mainLight;
        font-weight: 600;
        font-size: 3rem;
        text-align: center;
      }
      
      .error {
        font-size: 1.5rem;
        height: 20px;
        width: 100%;
        margin: auto;
        color: $secondaryRed;
        font-weight: 300;
        text-align: center;
      }

      .form-input-group {
        height: fit-content;
        width: 25vw;
        display: block;
        margin: 20px;
  
        .form-input {
          margin: 10px;
          margin-left: 0 !important;
          color: $mainLight;
          width: 25vw;
          display: flex;
          margin: auto;
          background: transparent;
          border:none;
          transition: 0.5s;
          padding: 10px;
          border: 2px solid rgba(230, 222, 221, .25);
          border-radius: 20px;
  
          &:hover {
            border-color: rgba(240, 222, 221, .5);
          }

          &:focus {
            outline: none;
            border: 1.5px solid rgb(230, 222, 221);
          }
        }

        .input-label {
          color: $mainLight;
          display: block;
        }
  
        p {
          font-size: 1.3vh;
        }
      }

      hr {
        margin: 25px;
        background-color: rgba(240, 222, 221, .25);
      }

      .signup {
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: 0;

        a {
          margin-left: 1vw;
          font-weight: 700;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    .form-input-desc {
      margin-top: 25px;
      color: $mainLight;

      .input-label {
        input {
          display:inline-block;
          vertical-align:middle;
          margin: auto;
        }
      }
    } 

    .button-submit {
      margin: auto;
      width: 50%;
      margin-top: 25px;
      padding: 5px 25px 5px 25px;
      border: none;
      border-radius: 20px;
      display: inline-block;
      background-color: $mainRed;
      color: $mainLight;
      font-size: 2.5vh;
      text-align: center !important;
      transition: 0.5s;

      &:hover,
      &:focus {
        background-color: rgb(154, 0, 0);
        outline: none;
      }
      
      p {
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        
        @media(min-width: 1025px) {
          font-size: 1.5rem !important;
        }

        @media(max-width: 1024px) {
          font-size: 1.5vh;
        }
      }
    }
  }
}